html {
    font-size: 16px;
}

body {
    text-align: center;
}

ul {
    margin: auto;
    list-style-type: none;
}

li {
    font-size: 1, 5rem;

}

.menu {
    display: flex;
}

a:hover {
    color: hsl(0%, 100%, 40%);
}

a,
a:link {
    color: hsl(0%, 100%, 60%);
    text-decoration: none;
}

a:visited {
    color: hsl(0%, 100%, 40%);
}

a:hover,
:focus {
    color: hsl(0, 100%, 40%);
}

a:active {
    color: hsl(0, 100%, 60%);
}