html {
    font-size: 16px;
}


body {
    font-size: 100px;
    color: blueviolet;
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;


}



h1 {
    background-color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
    box-shadow: inset;
    font-size: 100px;
}

h2 {
    color: white;
    text-align: center;
    background-color: rgb(0, 255, 68);
    padding: 15px;
    border-radius: 20px;
    opacity: calc(80%);
    font-size: 6px;
}

p {
    font-size: 100px;
    color: brown;
    text-align: center;
    margin: 20px;
}

.section {
    padding: 16px;
    padding: 16px 16px;
    padding: 16px 16px 16px 16px;
}

.gallery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
}

.screen {
    width: 100%;
    height: 300px;
    background-image: url(images/536-600x600.jpg);
    background-position: center;
    margin-bottom: 20px;
}

.hero {
    display: flex;
    height: 400px;
    background-image: url(images/536-600x600.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    background-color: lightgrey;
    margin: 20px;
}

.box {
    width: 10vw;
    height: 10vw;
    margin: 10px;
    border: 2px solid rgb(125, 66, 66);
    box-shadow: 5px 5px 15px grey;
    transition: transform 0.3s;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    background: #2A7B9B;
    background: linear-gradient(135deg, #c2d3da 0%, #a92828 100%);
}

/* X-Small devices (portrait phones, less than 576px)
/* No media query for `xs` since this is the default in Bootstrap

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

/* Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

/* X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

/* XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { ... }